<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cyborg/bootstrap.min.css">
</head>
<body>

    <h1>blog do Erickson</h1>
    <nav>
        <a href="{% url 'post_list' %}">
            Listar Posts
        </a>
    </nav>

    Categorias
    <nav>
        {% for category in categories %}
        <a href="{% url 'post_list' %}?category_id={{ category.id }}">
            {{ category.name }} |
        </a>
        {% endfor %}
    </nav>

    {% block content %}
    {% endblock %}


</body>
</html>